body {
    background: url("/images/login/mascota_2.png") no-repeat center center fixed;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6); /* ← Capa blanca semitransparente */
    z-index: -1;
}

.form-control{
    opacity:  0.7; /* ← Controla la transparencia */

}

.form-control:hover{

    border: 2px solid black !important;
}


/* Nota: Se pone en todos !important para darle prioridad frente a boostrap*/
.btn-primary{

    background-color: #28a745 !important; /* Verde como ejemplo */
    border-color: #28a745 !important;
    color: white !important;
    transition: all 0.3s ease-in-out!important; /* Aplica una animación suave al botón */

}


.btn-secondary{

    background-color: #ce0b0b !important; /* Verde como ejemplo */
    border-color: #ce0b0b !important;
    color: white !important;
    transition: all 0.3s ease-in-out!important; /* Aplica una animación suave al botón */

}

.btn-primary:hover,
.btn-secondary:hover{
    cursor: pointer !important;
    color: white !important;
    transform: scale(1.1) !important;
}