@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Header's font style*/
.fontHeaders {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #42d84e80;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin-top: 5% !important;
    margin: 2rem auto;
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #4caf50;
}

.form-label {
    font-weight: bold;
    color: #333;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.btn-primary {
    background-color: #4caf50;
    border-color: #4caf50;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #388e3c;
    border-color: #388e3c;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}