<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel de Vendedor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="\css\vendedorHome.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<div class="logo-container">
    <img id="ecoLogoHomeVendedor" src="/images/login/ecoLogoOriginal.png"
         alt="Eco Boost Logo">
</div>

<div class="perfil-vendedor">
    <img src="/images/homepage/userIcon.png" alt="Perfil" class="perfil-icono">
    <h2 id="vendedor" class="fontHeaders"><span th:text="${session.usuarioLogeado.nombre}">Vendedor</span></h2>
    <p id="documento" class="fontMiniMessages"><span th:text="${session.usuarioLogeado.documento}">Documento</span></p>

    <div class="botones-">
        <a href="/perfil" class="modificar-perfil">Modificar perfil</a>
        <a th:href="@{/productos/mis-productos}" class="mis-productos">Mis Productos</a>
    </div>

    <img id="ecotebanL" src="/images/login/PetEcotebanDefault.png">
    <button class="logout" onclick="if (confirmarLogOut()) location.href='/logout'">Log Out</button>
</div>

<div id="form_product">
    <div class="containerForm mt-5">
        <h2>Registrar Producto</h2>
        <form action="/productos/guardar" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="nombre_producto" class="form-label">Nombre del Producto</label>
                <input type="text" class="form-control" id="nombre_producto" name="nombre_producto" required maxlength="60">
            </div>

            <div class="mb-3">
                <label for="valor" class="form-label">Valor</label>
                <input type="number" class="form-control" id="valor" name="valor" required step="0.01">
            </div>

            <div class="mb-3">
                <label for="imagenProducto" class="form-label">Imagen</label>
                <input type="file" class="form-control" id="imagenProducto" name="imagenProducto" accept="image/*" required>
            </div>

            <div class="mb-3">
                <label for="categoriaId" class="form-label">Categoría</label>
                <select class="form-select" id="categoriaId" name="categoriaId" required>
                    <option selected disabled>Selecciona una categoría</option>
                    <option value="1">Accesorios</option>
                    <option value="2">Construcción</option>
                    <option value="3">Juguetes</option>
                    <option value="4">Hogar</option>
                </select>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Stock</span>
                <input type="number" class="form-control" id="cantidadStock" name="cantidadStock" aria-label="Stock input" aria-describedby="inputGroup-sizing-default" min="0" placeholder="Ingrese cantidad en stock" required>
            </div>




            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción</label>
                <textarea class="form-control" id="descripcion" name="descripcion" rows="3" maxlength="60"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Registrar Producto</button>
        </form>
    </div>

</div>
</body>



<script>
    function confirmarLogOut() {
        return confirm("¿Estás seguro que deseas cerrar sesión?");
    }
    document.addEventListener("DOMContentLoaded", function() {
        const form = document.querySelector("form");

        // Mostrar mensaje de bienvenida
        const nombreVendedor = document.getElementById("vendedor").innerText;
        Swal.fire({
            imageUrl: "/images/login/mascota_2.png",
            imageWidth: 300,
            imageHeight: 350,
            title: `¡Bienvenido ${nombreVendedor}!`,
            text: 'Aquí podrás registrar, visualizar y eliminar tus productos de forma segura.',
            showConfirmButton: true
        });

        form.addEventListener("submit", function(event) {
            event.preventDefault(); // Evita el envío inmediato para mostrar la alerta primero

            // Realiza el envío del formulario
            fetch(form.action, {
                method: "POST",
                body: new FormData(form)
            })
                .then(response => {
                    if (response.ok) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Producto creado exitosamente',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        form.reset(); // Limpia el formulario
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Hubo un error al crear el producto',
                            text: 'Por favor, inténtalo de nuevo.'
                        });
                    }
                })
                .catch(error => {
                    console.error("Error al enviar el formulario:", error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Hubo un error al crear el producto',
                        text: 'Por favor, inténtalo de nuevo.'
                    });
                });
        });
    });
</script>

</html>